<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <title>PrefeiNet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="compiler/style2.css">
    <link rel="stylesheet" href="compiler/bootstrap.css">
    
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-warning">

      <div class="container" >

        <a class="navbar-brand" href="#">PrefeiNet</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite" >

          <span class="navbar-toggler-icon" ></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarSite" >

          <ul class="navbar-nav mr-auto" >

            <li class="nav-item">

              <a class="nav-link" href="#">inicio</a>
              
            </li>
          
            <li class="nav-item">

              <a class="nav-link" href="#">configurações</a>
              
            </li>

          </ul>

          <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navDrop">
                social
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Facebook</a>
                <a class="dropdown-item" href="#">Instagram</a>
                <a class="dropdown-item" href="#">Reddit</a>
              </div>
            </li>

          </ul>

          <form class="form-inline">

            <input class="form-control mr-2 ml-4 " type="search" placeholder="Pesquise">
            <button class="btn btn-dark" type="submit">let's go</button>

          </form>
          
        </div>
      </div>  
    </nav>

    <div id="carouselSite" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#carouselSite" data-slide-to="0" class="active"></li>
    
      </ol>

      <div class="carousel-inner">

        <div class="carousel-item active" >
          <img src="imgs/img11.jpg" class="img-fluid d-block">
          <div class="carousel-caption d-nd-block">
            <h3 style="color:blue">Falta de água</h3>
            <p>Bairros da zona leste irão vivenciar falta d'água por 3 DIAS!</p>
          </div>
        </div>
        

      </div>

    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 text-center my-5 ">
          <h1 class="display-3">
            Falta de água na zona norte de Manaus!
          </h1>
          <P>
            <a href="#"> clique aqui para apoiar o site </a>
          </P>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 mb-3">
          <nav id="navbarVertical" class="navbar navbar-light bg-light">
            <nav class="nav nav-pills flex-column">
              <a class="nav-link my-2" href="#item1">
                Falta de água
              </a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3" href="#item1-1">
                  onde ocorrerá
                </a>
                <a class="nav-link ml-3" href="#item1-2">
                  quando será
                </a>
              </nav>
              <a class="nav-link ml-3" href="#item2">
                quais bairros
              </a>
              <a class="nav-link ml-3" href="#item3">
                Como me preparar
              </a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3" href="#item3-1">
                  QUando volta ao normal?
                </a>
                <a class="nav-link ml-3" href="#item3-2">
                  Lista dos 5 mais caros
                </a>
              </nav>
            </nav>
          </nav>
        </div>
        <div class="col-md-8 col-sm-6 mb-5">

            <div data-spy="scroll" data-target="#navbarVertical" data-offset="0" class="spy">

                <h4 id="item1">
                  Falta de água atinge bairros
                  
                </h4>
                  <p id="item1-1">
                    
                  </p>

                  <p id="item1-2">
                    <h6>Quais bairros</h6>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper aliquam blandit. Aliquam eu dolor at ex porttitor fringilla nec nec nibh. Donec tristique magna sit amet turpis maximus maximus. Quisque dictum, ex et molestie lobortis, felis neque aliquet lorem, sit amet luctus mauris odio at lacus. Sed massa leo, ornare vel lorem sit amet, venenatis consectetur purus. Phasellus facilisis lectus eget sapien blandit, nec dignissim mi fermentum. Nunc a consequat erat. Nam a interdum odio. Ut urna ex, euismod ac congue condimentum, pellentesque vitae massa. Mauris congue magna vitae elementum maximus. Vestibulum quis lectus sit amet nibh viverra viverra et eget sapien.

                    Duis eleifend faucibus ligula. Nunc leo erat, condimentum vel tortor mattis, lacinia aliquet arcu. Ut sollicitudin, metus eget tincidunt tempor, lectus dui elementum eros, a viverra augue dolor sit amet leo. Maecenas eget neque purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lorem ligula, lacinia at nulla non, vehicula faucibus risus. Morbi sed dignissim urna. Donec luctus libero tristique massa vehicula pellentesque. Nunc elementum magna eu eros fringilla sodales. Morbi porta hendrerit rutrum. Etiam condimentum tincidunt est, at tempor dolor pellentesque sit amet. Duis dignissim arcu neque, iaculis varius turpis facilisis sed. Maecenas vestibulum eu odio et vestibulum.
                  </p>

                  <p id="item2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper aliquam blandit. Aliquam eu dolor at ex porttitor fringilla nec nec nibh. Donec tristique magna sit amet turpis maximus maximus. Quisque dictum, ex et molestie lobortis, felis neque aliquet lorem, sit amet luctus mauris odio at lacus. Sed massa leo, ornare vel lorem sit amet, venenatis consectetur purus. Phasellus facilisis lectus eget sapien blandit, nec dignissim mi fermentum. Nunc a consequat erat. Nam a interdum odio. Ut urna ex, euismod ac congue condimentum, pellentesque vitae massa. Mauris congue magna vitae elementum maximus. Vestibulum quis lectus sit amet nibh viverra viverra et eget sapien.

                  Duis eleifend faucibus ligula. Nunc leo erat, condimentum vel tortor mattis, lacinia aliquet arcu. Ut sollicitudin, metus eget tincidunt tempor, lectus dui elementum eros, a viverra augue dolor sit amet leo. Maecenas eget neque purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lorem ligula, lacinia at nulla non, vehicula faucibus risus. Morbi sed dignissim urna. Donec luctus libero tristique massa vehicula pellentesque. Nunc elementum magna eu eros fringilla sodales. Morbi porta hendrerit rutrum. Etiam condimentum tincidunt est, at tempor dolor pellentesque sit amet. Duis dignissim arcu neque, iaculis varius turpis facilisis sed. Maecenas vestibulum eu odio et vestibulum.</p>
                  
                  <p id="item3-1">
                    Lista dos 5 mais visitados
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper aliquam blandit. Aliquam eu dolor at ex porttitor fringilla nec nec nibh. Donec tristique magna sit amet turpis maximus maximus. Quisque dictum, ex et molestie lobortis, felis neque aliquet lorem, sit amet luctus mauris odio at lacus. Sed massa leo, ornare vel lorem sit amet, venenatis consectetur purus. Phasellus facilisis lectus eget sapien blandit, nec dignissim mi fermentum. Nunc a consequat erat. Nam a interdum odio. Ut urna ex, euismod ac congue condimentum, pellentesque vitae massa. Mauris congue magna vitae elementum maximus. Vestibulum quis lectus sit amet nibh viverra viverra et eget sapien.

                    Duis eleifend faucibus ligula. Nunc leo erat, condimentum vel tortor mattis, lacinia aliquet arcu. Ut sollicitudin, metus eget tincidunt tempor, lectus dui elementum eros, a viverra augue dolor sit amet leo. Maecenas eget neque purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lorem ligula, lacinia at nulla non, vehicula faucibus risus. Morbi sed dignissim urna. Donec luctus libero tristique massa vehicula pellentesque. Nunc elementum magna eu eros fringilla sodales. Morbi porta hendrerit rutrum. Etiam condimentum tincidunt est, at tempor dolor pellentesque sit amet. Duis dignissim arcu neque, iaculis varius turpis facilisis sed. Maecenas vestibulum eu odio et vestibulum.
                  </p>
                  <p id="item3-2">
                    Lista dos 5 mais caros
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper aliquam blandit. Aliquam eu dolor at ex porttitor fringilla nec nec nibh. Donec tristique magna sit amet turpis maximus maximus. Quisque dictum, ex et molestie lobortis, felis neque aliquet lorem, sit amet luctus mauris odio at lacus. Sed massa leo, ornare vel lorem sit amet, venenatis consectetur purus. Phasellus facilisis lectus eget sapien blandit, nec dignissim mi fermentum. Nunc a consequat erat. Nam a interdum odio. Ut urna ex, euismod ac congue condimentum, pellentesque vitae massa. Mauris congue magna vitae elementum maximus. Vestibulum quis lectus sit amet nibh viverra viverra et eget sapien.

                    Duis eleifend faucibus ligula. Nunc leo erat, condimentum vel tortor mattis, lacinia aliquet arcu. Ut sollicitudin, metus eget tincidunt tempor, lectus dui elementum eros, a viverra augue dolor sit amet leo. Maecenas eget neque purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lorem ligula, lacinia at nulla non, vehicula faucibus risus. Morbi sed dignissim urna. Donec luctus libero tristique massa vehicula pellentesque. Nunc elementum magna eu eros fringilla sodales. Morbi porta hendrerit rutrum. Etiam condimentum tincidunt est, at tempor dolor pellentesque sit amet. Duis dignissim arcu neque, iaculis varius turpis facilisis sed. Maecenas vestibulum eu odio et vestibulum.
                  </p>
                

            </div>

        </div>
      </div>

      <div class="row justify-content-center">

        <div class="col-sm-6 col-md-4">

        <div class="card mb-5">
          <img src="imgs/img10.jpg" class="card-img-top" alt="">
          <div class="card-body">

              <h4 class="card-title"> Manaus inaugura shopping</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper aliquam blandit. Aliquam eu dolor at ex porttitor fringilla nec nec nibh. Donec tristique magna sit amet turpis maximus maximus. Quisque dictum, ex et molestie lobortis, felis neque aliquet lorem, sit amet luctus mauris odio at lacus. Sed massa leo, ornare vel lorem sit amet, venenatis </p>
                <h6 class="card-subtitle mt-2 text-muted">
                  <a href="pgn3" class="card-link">Clique aqui para saber mais</a>
                  <a href="#siteModal1" data-toggle="modal" data-target="#siteModal1" class="card-link">Resumo</a>
                </h6>

          </div>

        </div>

       </div>

      <div  class="col-sm-6 col-md-4"> 

        <div class="card mb-5">

          <img src="imgs/img8.jpg" class="card-img-top" alt="">

          <div class="card-body">
            
            <H4 class="card-title">Falta de água em manaus</H4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper aliquam blandit. Aliquam eu dolor at ex porttitor fringilla nec nec nibh. Donec tristique magna sit amet turpis maximus maximus. Quisque dictum, ex et molestie lobortis, felis neque aliquet lorem, sit amet luctus mauris odio at lacus. Sed massa leo, ornare vel lorem sit amet, venenatis </p>
            <h6 class="card-subtitle mt-2 text-muted">
              <a href="pgn1" class="card-link">Clique aqui para saber mais</a>
              <a href="#siteModal2" data-toggle="modal" data-target="#siteModal2" class="card-link">Resumo</a>
            </h6>

          </div>

        </div>

      </div>

      <div class="col-sm-6 col-md-4">

        <div class="card mb-5">

          <img src="imgs/img9.jpg" class="card-img-top" alt="">

          <div class="card-body">

            <h4 class="card-title"> pontos turísticos de Manaus</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper aliquam blandit. Aliquam eu dolor at ex porttitor fringilla nec nec nibh. Donec tristique magna sit amet turpis maximus maximus. Quisque dictum, ex et molestie lobortis, felis neque aliquet lorem, sit amet luctus mauris odio at lacus. Sed massa leo, ornare vel lorem sit amet, venenatis </p>
              <h6 class="card-subtitle mt-2 text-muted">
                <a href="pgn2" class="card-link">Clique aqui para saber mais</a>
                <a href="#siteModal3" data-toggle="modal" data-target="#siteModal3" class="card-link">Resumo</a>
              </h6>

          </div>

        </div>

      </div>

      </div>

    </div>

    <!-- modal; -->

   
        <div> 

          <div class="modal-body">

            <p>  <div class="modal fade" id="siteModal1" tabindex="-1" role="dialog">

              <div class="modal-dialog" role="document">
        
                <div class="modal-content">
        
                  <div class="modal-header">
        
                    <h5>shopping inaugurado</h5>
                      
                      <button type="button" class="close" data-dismiss="modal">
                        <span>
                          x
                        </span>
                      </button>
        
                  </div>
        
                  <div class="modal-body">
        
                    <p>a partir da próxima quinta feira a população manauara vai poder conferir o novo centro de compras da capital amazonense, localizado na avenida coronel texeira, na zona oeste de manaus.
                      com investimento de mais de 197 milhões de reais, o Shopping ponta negra abrirá as portas a partir das 10h. o empreendimento conta com 189 lojas exclusivas</p>
        
                  </div>
        
                  <div class="modal-footer">
        
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                  
                  </div>
        
        
                </div>
        
              </div>
        
            </div>

          </div>

          <div class="modal-footer">

            <a href="/"><button type="button" class="btn btn-danger" data-dismiss="modal">sair</button></a>
          
          </div>


        </div>


    <div class="modal fade" id="siteModal2" tabindex="-1" role="dialog">

      <div class="modal-dialog" role="document">

        <div class="modal-content">

          <div class="modal-header">

            <h5>Falta d'água</h5>
              
              <button type="button" class="close" data-dismiss="modal">
                <span>
                  x
                </span>
              </button>

          </div>

          <div class="modal-body">

            <p>MANAUS – A Águas de Manaus informa que realizará nesta terça-feira, 08, uma manutenção preventiva programada na EAT (na Estação de Água Tratada) do Núcleo 23, localizada na Avenida Coronel Sávio Belota,  zona norte, a partir das 8h.

              Segundo a concessionária, a manutenção prevê melhorias elétricas e mecânicas em equipamentos da estação, otimizando assim, o fornecimento de água nas áreas abrangidas por este sistema.O serviço deve durar oito horas, com previsão de ser concluído às 16h.
              
               Os bairros Nossa Senhora de Fátima, Amazonino Mendes I, Mutirão, Novo Aleixo, Núcleo 16, 23, Conj. Amadeu Botelho, Conj. Vila Rica, Nossa Senhora de Fátima II, Braga Mendes, Cidade De Deus I, II, Gustavo Nascimento, Fazendinha I, II, Alfredo Nascimento I,II, Valparaíso, Viver Melhor II (Vila Nova), Conj. Ben-Hur, Conj. Vila Nova e Aliança com Deus podem apresentar oscilações no abastecimento durante a execução dos serviços.</p>

          </div>

          <div class="modal-footer">

            <button type="button" class="btn btn-danger" data-dismiss="modal">fechar</button>
          
          </div>


        </div>

      </div>

    </div>

    <div class="modal fade" id="siteModal3" tabindex="-1" role="dialog">

      <div class="modal-dialog" role="document">

        <div class="modal-content">

          <div class="modal-header">

            <h5>Pontos turísticos</h5>
              
              <button type="button" class="close" data-dismiss="modal">
                <span>
                  x
                </span>
              </button>

          </div>

          <div class="modal-body">

            <p>Os pontos turísticos de Manaus estão entre os preferidos dos turistas que buscam ter mais contato com a natureza e principalmente com a Floresta Amazônica.

              O estado já foi até premiado como o melhor destino verde da América Latina. 
              
              A capital que já foi considerada a mais importante do país, hoje também é vista como uma oportunidade de visitar e entender melhor o nosso passado.</p>

          </div>

          <div class="modal-footer">

            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
          
          </div>


        </div>

      </div>

    </div>

    <script src="jquery/dist/jquery.slim.min.js"></script>
    <script src="popper.js/dist/popper.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    

    
  </body>
</html>